<h1>UserName: <%= @user.full_name %></h1>
<p><strong>Email: </strong> <%= @user.email %> </p>
<p><strong>Mobile: </strong> <%= @user.mobile %> </p>
<p><strong>Password:</strong> <%= @user.encrypted_password %> </p>
<p><strong>Admin:</strong> <%= @user.role %> </p>
